@model IEnumerable<ITInventory.Models.Entities.DeviceHistory>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeviceName.DeviceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRepaired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceName.DeviceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateRepaired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeviceHistoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeviceHistoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceHistoryID })
        </td>
    </tr>
}

</table>
