@model ITInventory.Models.Entities.DeviceToDevice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeviceToDevice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceConnected.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceConnected.DeviceName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Devices.DeviceName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Devices.DeviceName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DeviceToDeviceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
